#left {
  float: left; // Левые блоки размещаем слева
  width: 20%; // Установка ширины 200 пикселей
}
#right {
  float: right; // Правые блоки размещаем справа
  width: 20%; // Установка ширины 200 пикселей
}
#center {
  margin-left: 25%; // Отступ слева 200 пикселей
  margin-right: 25%; // Отступ справа 200 пикселей
}
/* 
20% is not 200 pixels
it is relative size that depends on actual screen/parent container size
to set absulute value use 200px
*/
.clear {
  clear: both; // Отменяем позиционирование (влияние float)
}
<<<<<<< HEAD
.menu {
align="center";
color:white;
}

.chat {
color:white;
}

.stroka {
color:white;
}

.n_s{
width:50%;
resize: none;
}

.ren_s{
width:40%;
}

.areaForText{
width:60%;
}

.sending{
width:10%;
}

.writing{
width:54%;
resize: none;
}

=======
.circle{width:30px;
  height:30px;
  border-radius:20px;
  font-size:10px;
  color:blue;
  line-height:20px;
  text-align:center;
  background:pink;
}
>>>>>>> 3ee1beeff688317b87e361aa4583c88ef27c976c
