#left {
  float: left; // Левые блоки размещаем слева
  width: 20%; // Установка ширины 200 пикселей
}
#right {
  float: right; // Правые блоки размещаем справа
  width: 20%; // Установка ширины 200 пикселей
}
#center {
  margin-left: 25%; // Отступ слева 200 пикселей
  margin-right: 25%; // Отступ справа 200 пикселей
}
.clear {
  clear: both; // Отменяем позиционирование (влияние float)
}
.circle{width:30px;
  height:30px;
  border-radius:20px;
  font-size:10px;
  color:blue;
  line-height:20px;
  text-align:center;
  background:pink;
}